<h1>Films</h1>
<% if @movies.count == 0 %>
  <h2 class="text-center"><i class="fa-solid fa-film text-zinc-400 mr-1"></i> <span class="text-yellow-400">Aucun</span> Film visionné</h2>
<% else %>
  <h2><i class="fa-solid fa-film text-zinc-400 mr-1"></i> <span class="text-yellow-400"><%= @movies.count %></span> Film<%= "s" if @movies.count > 1 %> visionné<%= "s" if @movies.count > 1 %></h2>
  <div class="w-100 flex flex-col gap-y-2 mb-8">
    <% @movies.each do |movie| %>
      <%= link_to movie_path(movie) do %>
        <div class="flex w-100">
          <img src="https://image.tmdb.org/t/p/w500<%= movie.poster_url %>" alt="<%= movie.name %>" class="h-28 rounded-l-md
">
          <div class="bg-zinc-800 grow px-4 py-3 rounded-r-md flex items-center">
            <div>
              <h3><%= movie.name %></h3>
            </div>
            <div class="grow"></div>
            <i class="fa-solid fa-angle-right text-yellow-400 mr-2"></i>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
