<%= cl_image_tag @group.group_picture.key, height: 80, width: 80, crop: :fill, class: "w-20 h-20 bg-zinc-400 rounded-lg flex items-center justify-center border-2 border-yellow-400 mx-auto mb-4" %>
<h1><%= @group.name %></h1>
<% if @group.users.count >= 0 %>
  <h2><i class="fa-solid fa-user text-zinc-400 mr-1"></i> <span class="text-yellow-400"><%= @group.users.count %></span> Membre<%= "s" if @group.users.count > 1 %></h2>
  <div class="w-100 flex flex-col gap-y-2 mb-8">
    <% @group.users.each do |user| %>
      <div class="bg-zinc-800 w-100 px-4 py-3 rounded-md flex items-center">
        <% if user.profile_picture.attached? %>
          <%= cl_image_tag user.profile_picture.key, height: 44, width: 44, crop: :fill, class: "w-11 h-11 bg-zinc-400 rounded-full flex items-center justify-center border-2 border-yellow-400 mr-3" %>
        <% else %>
          <%= image_tag "default_image.png", class: "w-11 h-11 bg-zinc-400 rounded-full flex items-center justify-center border-2 border-yellow-400" %>
        <% end %>
        <div>
          <h3><%= user.first_name %> <%= user.last_name %></h3>
          <p class="text-sm font-bold"><%= user.username %></p>
        </div>
        <div class="grow"></div>
        <%# <i class="fa-solid fa-angle-right text-yellow-400 mr-2"></i> %>
      </div>
    <% end %>
  </div>
<% else %>
  <h2><i class="fa-solid fa-user text-zinc-400 mr-1"></i> <span class="text-yellow-400">Aucun</span> Membre</h2>
<% end %>
