<div class="bg-zinc-800 w-100 px-4 py-3 rounded-md flex items-center group data-[selected=true]:outline-yellow-400 data-[selected=true]:outline data-[selected=true]:outline-offset-2"
data-group-id="<%= group.id %>"
data-selected="false"
data-radio-button-target="togglableElement"
data-action="click->radio-button#select">
  <%= cl_image_tag group.group_picture.key, height: 44, width: 44, crop: :fill, class: "w-11 h-11 bg-zinc-400 rounded-full flex items-center justify-center mr-3" %>
  <div class="flex flex-col gap-2">
    <h3><%= group.name %></h3>
    <div class="flex gap-2 items-center">
      <div class="flex -space-x-1">
        <% group.users.first(6).each do |user| %>
          <% if user.profile_picture.attached? %>
            <%= cl_image_tag user.profile_picture.key, height: 28, width: 28, crop: :fill, class: "w-7 h-7 bg-zinc-400 rounded-full flex items-center justify-center border border-yellow-400" %>
          <% else %>
            <%= image_tag "default_image.png", class: "w-7 h-7 bg-zinc-400 rounded-full flex items-center justify-center border border-yellow-400" %>
          <% end %>
        <% end %>
      </div>
      <% if group.users.size > 6 %>
        <span class="text-xs text-justify font-bold">+ <%= group.users.size - 6 %> autres</span>
      <% end %>
    </div>
  </div>
  <div class="grow"></div>
  <div class="hidden group-data-[selected=true]:block">
    <i class="fa-solid fa-circle-check text-yellow-400 text-md"></i>
  </div>
</div>
