<div class="recap flex flex-col gap-4">

  <div class="flex flex-col items-center bg-zinc-800 mt-12 p-2 rounded-lg">
    <h2 class="text-justify"><i class="fa-solid fa-pen mr-2"></i> Nom de votre évènement :</h2>
    <h2 class="text-yellow-400"><%= name %></h2>
  </div>

  <div class="flex flex-col p-3">
    <h2 class="mb-3 text-center"><i class="fa-solid fa-users mr-2"> </i>Groupe choisit</h2>
    <div class="bg-zinc-800 w-100 px-4 py-3 rounded-md flex">
      <%= cl_image_tag group.group_picture.key, height: 44, width: 44, crop: :fill, class: "w-11 h-11 bg-zinc-400 rounded-full flex items-center justify-center mr-3" %>
      <div class="flex flex-col gap-2">
        <h3><%= group.name %></h3>
        <div class="flex gap-2 items-center">
          <div class="flex -space-x-1">
            <% group.users.first(6).each do |user| %>
              <% if user.profile_picture.attached? %>
                <%= cl_image_tag user.profile_picture.key, height: 28, width: 28, crop: :fill, class: "w-7 h-7 bg-zinc-400 rounded-full flex items-center justify-center border border-yellow-400" %>
              <% else %>
                <%= image_tag "default_image.png", class: "w-7 h-7 bg-zinc-400 rounded-full flex items-center justify-center border border-yellow-400" %>
              <% end %>
            <% end %>
          </div>
          <% if group.users.size > 6 %>
            <span class="text-xs text-justify font-bold">+ <%= group.users.size - 6 %> autres</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-col items-center mb-4 p-3 bg-zinc-800 rounded-lg">
    <h2 class="text-center mb-3"><i class="fa-solid fa-calendar mr-2"></i>Date de votre évènement</h2>
    <div class="flex gap-4">
      <h3 class="bg-yellow-400 text-zinc-800 p-4 rounded-lg"><%= I18n.l(Date.parse(date), format: :long) %></h3>
      <h3 class="bg-yellow-400 text-zinc-800 p-4 rounded-lg"><%= time %></h3>
    </div>
  </div>

  <div class="movies mb-4 bg-zinc-800 p-4 rounded-lg" data-controller = "fetch-movies">
    <div class="flex flex-col items-center">
      <div>
        <h2><i class="fa-solid fa-film mr-2"></i><%= movie_posters.length > 1 ? 'films proposés' : 'film proposé'%></h2>
      </div>

      <div class="grid grid-cols-3 gap-3">
        <% movie_posters.each do |poster| %>
          <img src="<%="https://image.tmdb.org/t/p/original/#{poster}"%>" alt="" class="rounded-lg" />
        <% end %>
      </div>
    </div>
  </div>
</div>
