<h1>Évènements</h1>
<% if @pending_events.count == 0 %>
  <h2 class="text-center"><i class="fa-solid fa-forward text-zinc-400"></i> <span class="text-yellow-400">Aucun</span> Évènement à venir</h2>
<% else %>
  <h2><i class="fa-solid fa-forward text-zinc-400"></i> <span class="text-yellow-400"><%= @pending_events.count %></span> Évènement<%= "s" if @pending_events.count > 1 %> à venir</h2>
  <div class="w-100 flex flex-col gap-y-2 mb-8">
    <% @pending_events.each do |event| %>
      <%= link_to event_path(event) do %>
        <div class="bg-zinc-800 w-100 px-4 py-3 rounded-md flex items-center">
          <%= cl_image_tag event.user.profile_picture.key, height: 44, width: 44, crop: :fill, class: "w-11 h-11 bg-zinc-400 rounded-full flex items-center justify-center border-2 border-yellow-400 mr-3" %>
          <div>
            <h3><%= event.user.first_name %></h3>
            <p class="text-sm font-bold"><%= event.name %></p>
            <p class="text-sm"><%=I18n.l(event.date, format: :long)%></p>
          </div>
          <div class="grow"></div>
          <i class="fa-solid fa-angle-right text-yellow-400 mr-2"></i>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
<% if @done_events.count == 0 %>
  <h2 class="text-center"><i class="fa-solid fa-backward text-zinc-400"></i> <span class="text-yellow-400">Aucun</span> Évènement passé</h2>
<% else %>
  <h2><i class="fa-solid fa-backward text-zinc-400"></i> <span class="text-yellow-400"><%= @done_events.count %></span> Évènement<%= "s" if @done_events.count > 1 %> passé<%= "s" if @done_events.count > 1 %></h2>
  <div class="w-100 flex flex-col gap-y-2 mb-8">
    <% @done_events.each do |event| %>
      <%= link_to event_path(event) do %>
      <div class="bg-zinc-800 w-100 px-4 py-3 rounded-md flex items-center">
        <%= cl_image_tag event.user.profile_picture.key, height: 44, width: 44, crop: :fill, class: "w-11 h-11 bg-zinc-400 rounded-full flex items-center justify-center border-2 border-yellow-400 mr-3" %>
        <div>
          <h3><%= event.user.first_name %></h3>
          <p class="text-sm font-bold"><%= event.name %></p>
          <p class="text-sm"><%=I18n.l(event.date, format: :long)%></p>
        </div>
        <div class="grow"></div>
        <i class="fa-solid fa-angle-right text-yellow-400 mr-2"></i>
      </div>
    <% end %>
  <% end %>
</div>
<% end %>
