<div data-controller = "next-form">

  <div class="absolute w-full top-4 left-0">
    <div id="progress-bar" class="bg-white rounded-xl shadow-sm overflow-hidden p-1 mx-2">
      <div class="relative h-6 flex items-center justify-center">
        <div class="absolute top-0 bottom-0 left-0 rounded-lg w-[0%] bg-yellow-400 duration-700" data-next-form-target = "percentBar"></div>
        <div class="relative text-zinc-600 font-medium text-sm" data-next-form-target = "textBar">0%</div>
      </div>
    </div>
  </div>

  <%= form_with model: @event, data: {controller: "radio-button" } do |f| %>

    <div id="event-name" class="flex flex-col gap-2 mb-4">
      <%= f.label :name, "Quels est le nom de l'évènement ?", class: "form-label text-center text-2xl mb-4" %>
      <%= f.text_field :name, class:"form-input rounded", data: {next_form_target: "nameInput"}%>
      <div class="button" data-action="click->next-form#nextFormName">suivant</div>
    </div>

    <div id="event-group" class="hidden flex flex-col gap-2 mb-4">
      <%= f.label :group_id, "Choisis ton groupe", class: "form-label text-center text-2xl mb-4" %>
      <%= f.hidden_field :group_id, id: "selected-group-id", data: {next_form_target: "groupInput", radio_button_target: "input"}, class: "form-input"%>

      <div class="flex flex-col gap-3">
        <div class="w-100 flex flex-col gap-y-2" >
          <% Group.all.each do |group| %>
            <%= render "events/card", group:group %>
          <% end %>
        </div>
      </div>

      <div class="button" data-action="click->next-form#nextFormDate">suivant</div>
    </div>

    <div id="event-date" class="hidden mb-4 flex flex-col gap-2">
      <div class="grid gap-4 grid-cols-2">
        <div class="flex flex-col">
          <%= f.label :date, "Choisis une date", class: "form-label text-center text-2xl mb-4" %>
          <%= f.date_field :date, class: "form-input", data: {next_form_target: "dateInput"} %>
        </div>

        <div class="flex flex-col">
          <%= f.label :start_time, "Choisis une heure", class: "form-label text-center text-2xl mb-4" %>
          <%= f.time_field :start_time, value: @event.start_time&.strftime("%H:%M"), class: "form-input text-center text-2xl mb-4", data: {next_form_target: "timeInput"}%>
        </div>
      </div>

      <div class="button" data-action="click->next-form#nextFormMovie">suivant</div>
    </div>

    <div id="event-movie"
    data-controller = "movies-event"
    data-movies-event-url-value="<%=search_movies_url%>"
    class="hidden">
      <div class="text-center mb-4">
        <%= f.hidden_field :movie_infos,  id: "selected-movie-input", data: {radio_button_movie_target: "selectMovieInput", next_form_target: "moviesInput"} %>
        <%= f.label :movie_infos, "Selection des films", class: "form-label text-2xl" %>
      </div>
      <div class="grid grid-cols-6 mb-4">
        <%= text_field_tag :query,
            params[:query],
            placeholder: "Rechercher un film",
            class:"rounded w-full",
            data: { movies_event_target: "movieInput" }, class: "text-zinc-50 bg-zinc-800 font-bold col-span-4 rounded-l-lg" %>
        <%= submit_tag "Rechercher", data: { action: "click->movies-event#search" }, class: "font-header uppercase px-4 py-2 bg-yellow-400 text-zinc-800 rounded-r-lg col-span-2" %>
      </div>

      <template data-movies-event-target="cardTemplate">
        <div id="card" class="relative">
          <img src="" alt="" id="img" >
          <svg class="font-bold size-6 text-yellow-400 mr-2 absolute top-2 right-2  group-data-[selected=true]:block shadow" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
          </svg>
        </div>
      </template>

      <div class="flex flex-col items-center justify-center">
        <div data-movies-event-target="cardContainer" class="grid grid-cols-3 gap-4 mb-4">

        </div>
        <div class="button">
          <div data-action="click->next-form#nextFormCreate">suivant</div>
        </div>
      </div>

    </div>
    <div data-next-form-target="recap"></div>
    <div id="event-create" class="hidden flex items-center">
      <%= f.submit "créer l'évènement", class: "button" %>
    </div>

  <% end %>
</div>
