<div data-controller = "next-form">

  <div class="fixed w-full top-28 left-0 z-50">
    <div id="progress-bar" class="bg-white rounded-xl shadow-sm overflow-hidden p-1 mx-2">
      <div class="relative h-6 flex items-center justify-center">
        <div class="absolute top-0 bottom-0 left-0 rounded-lg w-[0%] bg-yellow-400 duration-700" data-next-form-target = "percentBar"></div>
        <div class="relative text-zinc-600 font-medium text-sm" data-next-form-target = "textBar">0%</div>
      </div>
    </div>
  </div>

  <%= form_with model: @event, data: {controller: "radio-button" } do |f| %>

    <div id="event-name" class="flex flex-col gap-2 mb-4">
      <%= f.label :name, "Quel est le nom de l'évènement ?", class: "form-label text-center text-2xl mb-4" %>
      <%= f.text_field :name, class:"form-input rounded mb-4", data: {next_form_target: "nameInput"}%>
      <div class="button" data-action="click->next-form#nextFormName">suivant</div>
    </div>

    <div id="event-group" class="hidden flex flex-col gap-2 mb-4">
      <%= f.label :group_id, "Choisissez un groupe", class: "form-label text-center text-2xl mb-4" %>
      <%= f.hidden_field :group_id, id: "selected-group-id", data: {next_form_target: "groupInput", radio_button_target: "input"}, class: "form-input"%>

      <div class="flex flex-col gap-3 mb-4">
        <div class="w-100 flex flex-col gap-y-2" >
          <% Group.all.each do |group| %>
            <%= render "events/card", group:group %>
          <% end %>
        </div>
      </div>

      <div class="button" data-action="click->next-form#nextFormDate">suivant</div>
    </div>

    <div id="event-date" class="hidden mb-4 flex flex-col gap-2">
      <div class="flex flex-col gap-y-12">
        <div class="flex flex-col">
          <%= f.label :date, "Choisissez une date", class: "form-label text-center text-2xl mb-4" %>
          <%= f.date_field :date, class: "form-input", data: {next_form_target: "dateInput"}, value: Date.today %>
        </div>

        <div class="flex flex-col">
          <%= f.label :start_time, "Et une heure", class: "form-label text-center text-2xl mb-4" %>
          <%= f.time_field :start_time, class: "form-input text-center mb-4", data: {next_form_target: "timeInput"}, value: Time.zone.parse("20:00")%>
        </div>
      </div>

      <div class="button" data-action="click->next-form#nextFormMovie">suivant</div>
    </div>

    <div id="event-movie"
      data-controller = "movies-event"
      data-movies-event-url-value="<%=search_movies_url%>"
      class="hidden mb-4">
      <div class="text-center mt-10 mb-4">
        <%= f.hidden_field :movie_infos, id: "selected-movie-input", data: {radio_button_movie_target: "selectMovieInput", next_form_target: "moviesInput", movies_event_target: "moviesInfosInput"} %>
        <%= f.label :movie_infos, "Sélection des films", class: "form-label text-2xl" %>
      </div>

      <div class="grid grid-cols-6 mb-4">
        <%= text_field_tag :query,
            params[:query],
            placeholder: "Rechercher un film",
            class:"rounded w-full",
            data: { movies_event_target: "movieInput" }, class: "text-zinc-50 bg-zinc-800 font-bold col-span-5 rounded-l-lg" %>
        <%= button_tag data: { action: "click->movies-event#search" }, class: "font-header uppercase px-4 py-2 bg-yellow-400 text-zinc-800 rounded-r-lg col-span-1" do %>
          <i class="fa-solid fa-magnifying-glass"></i>
        <% end %>
      </div>

      <template data-movies-event-target="cardTemplate">
        <div id="card" class="relative">
          <img src="" alt="" id="img">
        </div>
      </template>

      <div class="flex flex-col items-center justify-center">
        <div data-movies-event-target="cardContainer" class="grid grid-cols-3 gap-4 mb-4">
        </div>

        <div id="divCardContainer" class="bg-zinc-800 rounded-lg p-2 mt-4 mb-4 w-full h-24 flex justify-center items-center" >
        </div>

        <div class="button">
          <div data-action="click->next-form#nextFormCreate">suivant</div>
        </div>
      </div>
    </div>

    <div data-next-form-target="recap"></div>
    <div id="event-create" class="hidden flex items-center">
      <%= f.submit "créer l'évènement", class: "button" %>
    </div>

  <% end %>
</div>
