<!DOCTYPE html>
<html>
  <head>
    <title>Popcorn Planner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
    <%= favicon_link_tag asset_path('logo.png') %>
    <link rel="manifest" href="/manifest.json">
    <link href='https://api.mapbox.com/mapbox-gl-js/v3.8.0/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/v3.8.0/mapbox-gl.js'></script>

  </head>

  <body class="bg-zinc-900 text-zinc-50 p-0 m-0">
    
      <script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>

    <div class="mx-auto flex flex-col">

      <%= render "shared/header" if user_signed_in?%>

      <main class="px-3 flex flex-col min-h-[calc(100vh-10rem)] justify-center mt-24 pt-4 pb-16">

        <%= yield %>

        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

      </main>

      <%= render "shared/navbar" if user_signed_in? %>

    </div>

  </body>
</html>
